@page "/"
@implements IHandleAfterRender

<PageTitle>Index</PageTitle>

<h1>Hello, Images!</h1>

@foreach (var imageSrc in ImageSources)
{
    <Image Url="@imageSrc" />
}

@code {
    private List<string> ImageSources = new(){
        "https://picsum.photos/200/300",
        "https://picsum.photos/200/300",
        "https://picsum.photos/200/300",
        "https://picsum.photos/200/300"
    };

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        parameters.SetParameterProperties(this);

        // Your logic
        await Task.Delay(1);

        await base.SetParametersAsync(ParameterView.Empty);
    }

    Task IHandleAfterRender.OnAfterRenderAsync()
    => Task.CompletedTask;
}
